html {
  color: #223628;
}

section {
  text-align: center;
}

.product-square {
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.ttt-players {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ttt-player {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ttt-player-color-box {
  width: 2rem;
  height: 1rem;
  margin-left: 1rem;
}

.ttt-player1 div {
  background-color: yellow;
}

.ttt-player2 div {
  background-color: coral;
}

.ttt-board {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ttt-board div {
  border: 1px #223628 solid;
  width: 30%;
  height: 6rem;
}

.ttt-p1 {
  background-image: url('https://images.katespade.com/is/image/KateSpade/PXRUA161_707?$large$');
}

.ttt-p2 {
  background-image: url('https://images.katespade.com/is/image/KateSpade/K1576_820?$large$');
}